<nav>
    <ul class="pagination pagination-lg">
        <li><a href="#/list"><i class="mdi mdi-home"></i></a></li>
    </ul>
</nav>


<h2 class="h2-responsive center-on-small-only">{{scope.event.name}} <a class="btn-floating btn-large waves-effect waves-light red animated zoomIn" href="#/edit/event/{{scope.event.id}}"><i class="material-icons">edit</i></a></h2>
<p class="center-on-small-only">{{scope.event.description}}</p>

<h3 data-ng-if="scope.event.targetGroup" class="center-on-small-only"><i class="mdi mdi-target"></i>Target group</h3>
<p data-ng-if="scope.event.targetGroup" class="center-on-small-only">{{scope.event.targetGroup}}</p>

<h3 data-ng-if="scope.event.eventGift" class="center-on-small-only">Event gift</h3>
<p data-ng-if="scope.event.eventGift" class="center-on-small-only">{{scope.event.eventGift}}</p>

<h3 class="center-on-small-only"><i class="mdi mdi-map-marker"></i>Location</h3>
<p class="center-on-small-only">
	<strong>{{scope.event.location.name}}</strong><br />
	{{scope.event.location.street}}<br />
	{{scope.event.location.plz}} {{event.location.city}}
</p>

<h3 class="center-on-small-only"><i class="mdi mdi-calendar-clock"></i>Date &amp; time</h3>
<p class="center-on-small-only">{{scope.event.times.begin | date:"dd.MM.yy HH:mm"}} - {{scope.event.times.end | date:"dd.MM.yy HH:mm"}}</p>

<div data-ng-controller="GuestController as guestscope">
<h3 class="center-on-small-only" data-ng-show="scope.event.maximalAmountOfGuests == ''"><span class="label label-primary">{{filteredGuests.length}}</span> Guests <a class="btn-floating btn-large waves-effect waves-light red animated zoomIn" data-ng-click="guestscope.add()"><i class="mdi mdi-account-plus"></i></a></h3>
<h3 class="center-on-small-only" data-ng-show="scope.event.maximalAmountOfGuests > 0"><span class="label {{filteredGuests.length < scope.event.maximalAmountOfGuests?'label-primary':'label-danger'}}">{{filteredGuests.length}}/{{scope.event.maximalAmountOfGuests}}</span> Guests <a data-ng-show="filteredGuests.length < scope.event.maximalAmountOfGuests" class="btn-floating btn-large waves-effect waves-light red animated zoomIn" data-ng-click="guestscope.add()"><i class="material-icons">add</i></a></h3>
    <div data-ng-repeat="guest in filteredGuests = (guestscope.guests | filter:{canceled: false})">
        <div class="row">
            <div class="center-on-small-only col-xs-9">
                <p>{{guest.name}} bringt {{guest.contribution? guest.contribution:'Nichts'}} <cite data-ng-show="guest.comment">"{{guest.comment}}"</cite></p>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-xs-guest btn-info" data-ng-click="guestscope.toggleEditMode(guest)"><i class="mdi mdi-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-xs-guest" data-ng-click="guestscope.delete(guest)"><i class="mdi mdi-delete"></i></button>
                <button type="button" class="btn btn-warning btn-xs-guest" data-ng-show="guest.editMode" data-ng-click="guestscope.save(guest)"><i class="material-icons">save</i></button>
            </div>
                
        </div>
        <div class="row" data-ng-show="guest.editMode">
            <div class="input-field center-on-small-only col-md-4">
                <input required id="name" placeholder="Name" type="text" class="validate" data-ng-model="guest.name">
            </div>
            <div class="input-field center-on-small-only col-md-4">
                <input id="contribution" placeholder="Contribution" type="text" class="validate" data-ng-model="guest.contribution">
            </div>
            <div class="input-field center-on-small-only col-md-4">
                <input id="comment" placeholder="Comment" type="text" class="validate" data-ng-model="guest.comment">
            </div>
        </div>
    </div>
    <div class="row" ng-hide="filteredGuests.length">No Guests<i class="mdi mdi-emoticon-sad"></i></div>
</div>